@if (publicProduct)
{
  <div>
    <h2>
      {{ publicProduct.product }}
    </h2>

    <p>
      {{ publicProduct.description }}
    </p>

    @for (image of publicProduct.images; track image)
    {
      <div class="product">
        <img src="{{ image.path }}">
        <p>
          {{ image.description }}
        </p>
      </div>    
    }

    <p>
      {{ publicProduct.details }}
    </p>
  </div>  
}
@else
{
  <div>
    <h2></h2>
    Produktinformation saknas.
  </div>
}

<app-footer></app-footer>
