<div class="content">
  <div class="logotype">
      <a routerLink="/dashboard">
        <img class="logotype" alt="Möbelman logotype" src="assets/mobelman-logotype.png">
      </a>
  </div>

  <nav>
    <a routerLink="/dashboard">Hem</a>
    <a routerLink="/public/products">Offentlig Miljö</a>
    <a routerLink="/public/church/products">Offentlig Miljö - Kyrka</a>
    <a routerLink="/private/products">Privat Miljö</a>
    <a routerLink="/production">Legotillverkning</a>
    <a routerLink="/history/products">Historik</a>
    <a routerLink="/contact">Kontakt</a>
  </nav>

  <router-outlet />
</div>
