<div class="content">
  <div class="logotype">
      <a routerLink="/dashboard">
        <img class="logotype" alt="Möbelman logotype" src="assets/mobelman-logotype.png">
      </a>
  </div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Hem</a>
    <a routerLink="/public/products" routerLinkActive="active">Offentlig Miljö</a>
    <a routerLink="/public/church/products" routerLinkActive="active">Offentlig Miljö - Kyrka</a>
    <a routerLink="/private/products" routerLinkActive="active">Privat Miljö</a>
    <a routerLink="/production" routerLinkActive="active">Legotillverkning</a>
    <a routerLink="/history/products" routerLinkActive="active">Historik</a>
    <a routerLink="/contact" routerLinkActive="active">Kontakt</a>
  </nav>

  <router-outlet />
</div>
